<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 <!-- Footer -->
 <footer class="page-footer font-small stylish-color-dark pt-4" style="background-color: black">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-5 mx-auto">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Our Address</h5>
          <p style="color: white">Co-working, 69, Regal Building,<br> Connaught Place, New Delhi - 110001</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" style="color: white">Location</a>
            </li>
            <li>
              <a href="#!" style="color: white">Why Us?</a>
            </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h5>
  
          <ul class="list-unstyled">
            <li>
                <i class="fa fa-phone" aria-hidden="true">  </i>
                <a href="#" style="color: white">    +91 9877234231</a>
            </li>
            <li>
                <i class="fas fa-envelope " area-hidden="true" ></i>
                <a href="#" style="color: white">   www.coworking.com</a>
            </li>
           
          </ul>
  
        </div>
        <!-- Grid column -->
        <!-- <hr class="clearfix w-100 d-md-none"> -->
  
       
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->

    <hr>
  
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a href="#" class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: white">© 2019 Copyright:
      <a style="color: white" href="https://mdbootstrap.com/education/bootstrap/">coworking.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
