/* 

button {
    margin-right: 10px;
    margin-top: 10px;
}

input.ng-pristine.ng-invalid.ng-touched {
    margin-left: 60px;
}

.firstFormGroup {
    overflow: hidden;
}

.mat-horizontal-content-container {
    overflow: hidden;
    padding: 0 24px 24px 24px;
}

mat-form-field {
    width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-style: italic;
    font-weight: bold;
    color: white;
}

.card {
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 100%;
    background-color: #ffffff08;
}

.inside {
    padding: 14px;
    width: 221px;
    height: 142px;
    line-height: 80px;
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
    margin-left: 52px;
    margin-top: 57px;
    margin-bottom: 70px;
    color: #ffffff;
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
    border-left: none;
}

.mat-input-element {
    caret-color: white;
}

.next {
    margin: 71px;
}

.amenity {
    margin-top: 5px;
}

.Done {
    color: white;
}

.bgimage {
    background-image: url("https://innov8.work/static/index-new/images/banner_new.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mat-raised-button {
    color: rgba(239, 231, 231, 0.87);
    background-color: #346e78;
    font-size: medium;
    font-weight: 400;
}

.mat-button-toggle {
    white-space: nowrap;
    position: relative;
    background: white;
}

.mat-button-toggle-checked {
    background-color: #c7c6c6;
}

img {
    vertical-align: middle;
    border-style: none;
    margin-top: 12%;
}

.mat-stepper-horizontal,
.mat-stepper-vertical {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
}

.mat-button {
    margin-top: 6%;
    margin-bottom: 6%;
    font-weight: 900;
}

.mat-stepper-horizontal {
    overflow: hidden;
    padding: 0 0 -23% 0;
}

.mat-option-text {
    display: inline-block;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #f5f5dc;
}

#mat {
    width: 50%;
    margin-left: 25%;
    font-style: italic;
    font-weight: bold;
    color: white;
} */


button {
    margin-right: 10px;
    margin-top: 10px;
}

input.ng-pristine.ng-invalid.ng-touched {
    margin-left: 60px;
}

.firstFormGroup {
    overflow: hidden;
}

.mat-horizontal-content-container {
    overflow: hidden;
    padding: 0 24px 24px 24px;
}

mat-form-field {
    width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-style: italic;
    font-weight: bold;
    color: white;
}

.card {
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 100%;
    background-color: #ffffff08;
}

.inside {
    padding: 14px;
    width: 221px;
    height: 142px;
    line-height: 80px;
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
    margin-left: 52px;
    margin-top: 57px;
    margin-bottom: 70px;
    color: #ffffff;
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
    border-left: none;
}

.mat-input-element {
    caret-color: white;
}




.amenity {
    margin-top: 5px;
}

.Done {
    color: white;
}

.bgimage {
    background-image: url("https://innov8.work/static/index-new/images/banner_new.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mat-raised-button {
    color: rgba(239, 231, 231, 0.87);
    background-color: #346e78;
    font-size: medium;
    font-weight: 400;
}

.mat-button-toggle {
    white-space: nowrap;
    position: relative;
    background: white;
}

.mat-button-toggle-checked {
    background-color: #c7c6c6;
}

img {
    vertical-align: middle;
    border-style: none;
    margin-top: 12%;
}

.mat-stepper-horizontal,
.mat-stepper-vertical {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
}

.mat-button {
    margin-top: 6%;
    margin-bottom: 6%;
    font-weight: 900;
}

.mat-stepper-horizontal {
    overflow: hidden;
    padding: 0 0 -23% 0;
}

.mat-option-text {
    display: inline-block;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #f5f5dc;
}

#mat {
    width: 50%;
    margin-left: 25%;
    font-style: italic;
    font-weight: bold;
    color: white;
}

#matprice {
    width: 80%;
    margin-left: 10%;
    font-style: italic;
    font-weight: bold;
    color: white;
}

mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-left: 29%;
    margin-right: 31%; */
    border-radius: inherit;
}

.mat-expansion-panel {
    box-sizing: border-box;
    display: block;
    /* margin-left: -75%; */
    margin: 1% 30%;
    border-radius: 4px;
    overflow: hidden;
    transition: margin 225ms cubic-bezier(.4, 0, .2, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

.mat-expansion-panel {
    background: #19181891;
    color: #fff;
}
.mat-card p {
    margin-bottom: 0;
    font-size: x-small;
 }

 .mat-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    /* position: unset; */
    margin-left: 29px;
    background: #580e28;
    margin-top: 20px;
 }

 