<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 
 <!-- mid-section -->
      <!-- start -->
      <div class="container">
          <div class="row">
            <div class="col">
              <h2>Why Us?</h2>
                <div class="details">
                  <!-- <h4>OUR CULTURE IS OUR BRAND AND OUR DESIGN IS OUR PHILOSOPHY</h4> -->
                  <p>Coworking offers beautifully crafted workspaces where 
                    people can create, connect, and grow their businesses at prime locations
                     in multiple cities pan-India. Innov8 hosts people from diverse 
                     backgrounds such as digital nomads, entrepreneurs, freelancers, 
                     corporates employees and startup enthusiasts.</p>
                </div>
            </div>
            <div class="col">
                <img src="https://images.pexels.com/photos/886465/pexels-photo-886465.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" 
                alt ="" class="float-right" height="250px">

            </div>
          </div>
      </div>
      <hr>
      <div class="container">
          <div class="row">
              <div class="col">
                  <img src="https://images.pexels.com/photos/1246953/pexels-photo-1246953.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" 
                  alt ="" class="float-left" height="250px">

              </div>
            <div class="col">
              <h2>Coworking Community</h2>
              <div class="details">
              <!-- <h4>IT'S NOT JUST A PLACE FOR PEOPLE TO WORK, IT’S A PLACE FOR PEOPLE TO CONNECT.</h4> -->
              <p>You become par t of a wholesome experience that helps you build networks.
                 With a shared work environment such as Innov8’s, you can create new ventures,
                 brands or bands. From conferences, startup talk, musical nights and entrepreneurial 
                 sessions, We have it all!</p>
              </div>
        
          </div>
         
          </div>
      </div>
      <hr>
    <!-- <end> -->
      <!-- cards -->
        <h1 class="text-center">Meet Our Crew</h1>


        <div class="container">
        <div class="row">
        
        <!--team-1-->
        <div class="col-lg-4">
        <div class="our-team-main">
        
        <div class="team-front">
        <img src="assets/images/RK.jpg" class="img-fluid" />
        <h3>Rutuja Kulkarni</h3>
        <p>Full Stack Developer</p>
        </div>
        
        <div class="team-back">
        <span style="font-size: 20px">
          Works in IBM as an Associate Software Engineer.
          For now getting training through the institute name as StackRoute.
          Currently Working on Project "Co-working"  
        </span>
        </div>
        
        </div>
        </div>
        <!--team-1-->
        
        <!--team-2-->
        <div class="col-lg-4">
        <div class="our-team-main">
        
        <div class="team-front">
        <img src="assets/images/TS.jpg" class="img-fluid" />
        <h3>Tejaswini Shet </h3>
        <p>Full Stack Developer</p>
        </div>
        
        <div class="team-back">
        <span style="font-size: 20px">
            Works in IBM as an Associate Software Engineer.
            For now getting training through the institute name as StackRoute.
            Currently Working on Project "Co-working"  
        </span>
        </div>
        
        </div>
        </div>
        <!--team-2-->
        
        <!--team-3-->
        <div class="col-lg-4">
        <div class="our-team-main">
        
        <div class="team-front">
        <img src="assets/images/SG.jpg" class="img-fluid" />
        <h3>Shona George</h3>
        <p>Full Stack Developer</p>
        </div>
        
        <div class="team-back">
        <span style="font-size: 20px">
            Works in IBM as an Associate Software Engineer.
            For now getting training through the institute name as StackRoute.
            Currently Working on Project "Co-working"  
        </span>
        </div>
        
        </div>
        </div>
        <!--team-3-->
        
        <!--team-4-->
        <div class="col-lg-4">
        <div class="our-team-main">
        
        <div class="team-front">
        <img src="assets/images/SK.jpg" class="img-fluid" />
        <h3>Sravani Krishnam</h3>
        <p>Full Stack Developer</p>
        </div>
        
        <div class="team-back">
        <span style="font-size: 20px">
            Works in IBM as an Associate Software Engineer.
            For now getting training through the institute name as StackRoute.
            Currently Working on Project "Co-working"  
        </span>
        </div>
        
        </div>
        </div>
        <!--team-4-->
        
        <!--team-5-->
        <div class="col-lg-4">
        <div class="our-team-main">
        
        <div class="team-front">
        <img src="assets/images/PA.jpg" class="img-fluid" />
        <h3>Pranjal Arote</h3>
        <p>Full Stack Developer</p>
        </div>
        
        <div class="team-back">
        <span style="font-size: 20px">
            Works in IBM as an Associate Software Engineer.
            For now getting training through the institute name as StackRoute.
            Currently Working on Project "Co-working"  
        </span>
        </div>
        
        </div>
        </div>
        <!--team-5-->
        
        <!--team-6-->
        <div class="col-lg-4">
        <div class="our-team-main">
        
        <div class="team-front">
        <img src="assets/images/ZS.jpg" 
        class="img-fluid" />
        <h3>Zeba sheikh</h3>
        <p>Full Stack Developer</p>
        </div>
        
        <div class="team-back">
        <span style="font-size: 20px">
            Works in IBM as an Associate Software Engineer.
            For now getting training through the institute name as StackRoute.
            Currently Working on Project "Co-working"  
        </span>
        </div>
        
        </div>
        </div>
        <!--team-6-->
        
        
        
        </div>
        </div>
      <!-- cards -->
