
<!-- <h1 mat-dialog-title>Hi </h1> -->
<div mat-dialog-content>
  <p>Select your City</p>
  <button mat-button (click)="onNoClick()" class="city"  style="width: 160px">Mumbai</button>
  <button mat-button (click)="onNoClick()" class="city"  style="width: 160px">Pune</button>
  <button mat-button (click)="onNoClick()" class="city"  style="width: 160px">Bangalore</button>
  <button mat-button (click)="onNoClick()" class="city"  style="width: 160px">Hydrabad</button>
  <button mat-button (click)="onNoClick()" class="city"  style="width: 160px">Delhi</button>
  <button mat-button (click)="onNoClick()" class="city"  style="width: 160px">Chennai</button>
  <button mat-button (click)="onNoClick()" class="city"  style="width: 160px">Lucknow</button>
  <button mat-button (click)="onNoClick()" class="city"  style="width: 160px">Patna</button>



</div>
<div mat-dialog-actions>
  <hr>
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>

  