<div mat-dialog-content>
    <h2 mat-dialog-title>Booking</h2>
<!-- <div class="modal fade " id="Modal ">
  <div class="modal-dialog modal-dialog-centered modal-lg ">
      <div class="modal-content ">
          Modal Header
          <div class="modal-header ">
              <h4 class="modal-title ">Booking</h4>
              <button type="button " class="close " data-dismiss="modal">&times;</button>
          </div>
          <div class="col-md-10">
            <label><b>Booking on</b></label>
            <input type="date" name="" class="form-control" #date>
        </div><br>
        <div class="col-md-10">
            <br> <label>From</label>
            <input type="date" name="" class="form-control" ng-model="myVar"><br>
        </div>
        <div class="col-md-10">
            <label>To</label><br>
            <input type="date" name="" class="form-control"><br>
        </div>
          Modal footer
          <div class="modal-footer">
              <button routerLink='/pay' routerLinkActive="active" type="button" class="btn btn-secondary" data-dismiss="modal">Book</button>
          </div>
      </div>
  </div>
  </div> -->
</div>

