

.navbar {
    min-height: 80px;
    background-color: #0c0c0c;
}
.nav-link {
    font-size: 22px;
}
.navbar-brand {
    padding-left: 120px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.nav-item {
    font-size: 20px;
    padding-left: 10px;
    font-size: 20px;
}
.login {
    padding-right: 120px;
    padding-left: 20px;
}
.image {
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.col {
    padding-top: 50px;
    padding-bottom: 50px;
}
.details {
    font-size: 18px;
}
.page-footer {
    padding-top: 50px;
}
.contact-us {
    padding-left: 190px;
}
/* cards css */
h1 {
    color: black;
    margin: 40px 0 60px 0;
    font-weight: 300;
}
.our-team-main {
    width: 100%;
    height: auto;
    border-bottom: 5px #323233 solid;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    margin-bottom: 28px;
}
.our-team-main img {
    border-radius: 50%;
    margin-bottom: 20px;
    width: 90px;
}
.our-team-main h3 {
    font-size: 20px;
    font-weight: 700;
}
.our-team-main p {
    margin-bottom: 0;
}
.team-back {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px 0 15px;
    text-align: left;
    background: #fff;
}
.team-front {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    background: #fff;
    padding: 15px;
    bottom: 0px;
    transition: all 0.5s ease;
}
.our-team-main:hover .team-front {
    bottom: -200px;
    transition: all 0.5s ease;
}
.our-team-main:hover {
    border-color: #777;
    transition: 0.5s;
}
.container {
    height: 100%;
    align-content: center;
}
.card {
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: white!important;
}
.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #17a2b8;
}
.social_icon span:hover {
    color: white;
    cursor: pointer;
}
.card-header h3 {
    color: white;
}
.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}
.input-group-prepend span {
    width: 50px;
    background-color: #17a2b8;
    color: black;
    border: 0 !important;
}
input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}
.remember {
    color: white;
}
.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}
.login_btn {
    color: black;
    background-color: #17a2b8;
    width: 100px;
}
/* .login_btn:hover{
color: black;
background-color: white;
} */
.links {
    color: white;
}
.links a {
    margin-left: 4px;
}
.card-header {
    background-color: black;
    margin-bottom: 10px;
}
.d-flex {
    margin-top: 30px;
}
.modal-header {
    background-color: black;
}
/* .modal-content{
  position: absolute;
  top: 50%;
    margin-top: 160px;
} */
h3,
h3 {
    font-size: 1.75rem;
    margin-left: 37%;
}
.modal-content {
    position: absolute;
    top: 23%;
    margin-top: 25%;
}
/* .modal-content1 {
  position: absolute;
  top: 23%;
  margin-top: 40%;
} */
.h4,
h4 {
    font-size: 1.5rem;
    margin-left: 40%;
}
.modal-content1 {
    position: relative;
    top: 23%;
    margin-top: 22%;
}
.form-group1 {
    margin-right: 40%;
}
