version: "2"
services:

  apigateway:
    image: zuul-service
    build: zuul-gatewayservice/
    restart: always
    network_mode: host
    depends_on:
    - eurekaserver
    ports:
    - 8092:8092
    expose:
    - 8092

  eurekaserver:
    image: eureka-servcie:latest
    build: eureka-server/
    restart: always
    network_mode: host
    ports:
    - 9091:9091
    expose:
    - 9091

  configserver:
      image: config-servcie:latest
      build: config-server/
      restart: always
      network_mode: host
      ports:
      - 8888:8888
      expose:
      - 8888

  mongo:
    image: mongo:3.4-jessie
<<<<<<< HEAD
    ports:
      - 27017:27017
    expose:
      - 27017
    container_name: mongo
    network_mode: host


  user-service:
    image: user-service
    build: user-service/
    restart: always
    network_mode: host
    depends_on:
      - mongo
      - eurekaserver
      - configserver
      - apigateway

  
  login-service:
    image: login-service
    build: login-service
    #restart: always
    network_mode: host
    depends_on:
      - mysql
    ports:
      - 6070:6070
    expose:
      - 6070

  mysql:
    image: mysql:5.7
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=root@123
      - MYSQL_DATABASE=user
    container_name: mysql
    network_mode: host
    hostname: localhost
=======
    ports:
      - 27017:27017
    expose:
      - 27017
    container_name: mongo
    network_mode: host


  user-service:
    image: user-service
    build: user-service/
    restart: always
    network_mode: host
    depends_on:
      - mongo
      - eurekaserver
      - configserver
      - apigateway
>>>>>>> dc1ddcf542e6c61516af8affcc5ddb89d588a113
