.icon {
    padding: 10px;
    background: #123f84;
    color: white;
    min-width: 30px;
    text-align: center;
}

.input-field {
    width: 430px;
    padding: 10px;
    outline: none;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #123f84;
    border-color: #b58964;
    margin-left: 40%;
    border-radius: 25px;
    border-radius: 25px;
}