<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- <div style="text-align:center"> -->

<!-- <app-navbar> </app-navbar> -->
<router-outlet></router-outlet>
<!-- <app-card></app-card> -->
<!-- <app-footer></app-footer> -->
<!-- <app-location></app-location> -->
<!-- <app-registration></app-registration> -->
<!-- <app-login></app-login> -->
<!-- <app-client-dashboard></app-client-dashboard> -->
<!-- <app-owner-dashboard></app-owner-dashboard> -->
<!-- <app-add-properties></app-add-properties> -->
<!-- <app-plans></app-plans> -->
<!-- <app-about-us> </app-about-us> -->
<!-- <app-client-profile></app-client-profile> -->

<!-- </div> -->

<!-- <app-booking></app-booking> -->
<!-- <app-landing-page></app-landing-page> -->