body {
    background-image: url("https://images.pexels.com/photos/1181406/pexels-photo-1181406.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    
    height: 800px; 
    opacity: 0.8;
    background-size: cover;
    width:100%;
 
 } 

.well {
    min-height: 20px;
    padding: 19px;
     margin-bottom: 20px; 
    background-color: lightgrey;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
#col1{
    padding-top: 18%;
    padding-left: 5%;
    
    
} 
#col2{
    padding-top: 20%;
    padding-left: 10%;
    color:rgb(255, 255, 255);
    
    
} 
.btn-primary {
    color: #fff;
    background-color: black;
    border-color: #b58964;
    margin-left: 40%;
    border-radius: 25px;
    border-radius: 25px;
}

.well[_ngcontent-oal-c1] {
    min-height: 20px;
    padding: 19px; 
    margin-bottom: 20px;
    background-color: lightcoral;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 70%;
    margin-bottom: 15px;
  }
  .icon {
    padding: 10px;
    background: grey;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  .input-field {
    width: auto;
    padding: 10px;
    outline: none;
  }

  .login{
      color: black;
      text-align: center;
       position: absolute; 
  left: 130%;
  top: 40%;
  width: 80%;
  height: 50%;
  
  }
  .register{
      color:black;
      font-size: 20px;
      padding-left: 60px;
  }
  form {
    width: 300px;
    margin: 0 auto;
   
}
@media (min-width: 320px) and (max-width: 425px) {
    body {
        background-image: url("https://images.pexels.com/photos/1181406/pexels-photo-1181406.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
         background-color: #cccccc;
        height: 800px; 
        opacity: 0.8;
        background-size: cover;
        width:100%; 
     
     } 
    
    
  }
  .btn-primary1{
    color: #fff;
    background-color: black;
    border-color: #b58964;
    margin-left: 18%;
    border-radius: 25px;
    border-radius: 25px;
    
   
}

.register-text{
 background-color: rgb(0, 0, 0);
 width: 350px;
 padding-left: 20px;
}