
<!-- <h1 mat-dialog-title>Hi </h1> -->
<div mat-dialog-content>
  <p>Select your City</p>
  <button mat-button (click)="onNoClick('Mumbai')" class="city"  style="width: 160px"  >Mumbai</button>
  <button mat-button (click)="onNoClick('Pune')" class="city"  style="width: 160px">Pune</button>
  <button mat-button (click)="onNoClick('Bangalore')" class="city"  style="width: 160px">Bangalore</button>
  <button mat-button (click)="onNoClick('Hyderabad')" class="city"  style="width: 160px">Hyderabad</button>
  <button mat-button (click)="onNoClick('Delhi')" class="city"  style="width: 160px">Delhi</button>
  <button mat-button (click)="onNoClick('Chennai')" class="city"  style="width: 160px">Chennai</button>
  <button mat-button (click)="onNoClick('Lucknow')" class="city"  style="width: 160px">Lucknow</button>
  <button mat-button (click)="onNoClick('Patna')" class="city"  style="width: 160px">Patna</button>

</div>
<div mat-dialog-actions>
  <hr>
</div>

  