/* .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    /* .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; } */
    /* .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    
    @media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
    } */ 


    @media (max-width: 400px) {
        .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
        }
        }
    
    .names
    {
        font-size:10px;
        text-align: left;
        padding-left: 20px;
        
    }  
    
    
    grid .rate-row div {
        padding: 8px 5px;
        padding-top: 8px;
        padding-right: 5px;
        padding-bottom: 8px;
        padding-left: 5px;
        width:20%;
    }
    
    
    
    
    
    .banner-img-clg .col-sm-2 yeah{
        padding-left: 0;
    }
    
    
    .banner-img-wrap-sm:nth-child(1), .banner-img-wrap-sm:nth-child(2) {
        position: relative;
        float: left;
        padding: 10px;
      
       
    }
    .banner-img-wrap-sm {
        height: 204px;
    }
    .banner-img-wrap, .banner-img-wrap-sm {
        cursor: pointer;
    }
    
    .banner-img-clg .col-sm-2 {
        padding-left: 0;
    }
    .banner-img-wrap-sm img {
        height: 187px;
        width:230px;
        object-fit: cover;
    }
    img {
        vertical-align: middle;
    }
    
    .banner-img-wrap-sm:nth-child(4) {
        position: absolute;
        top: 50%;
        left: 100%;
        width: 100%;
        padding :10px;
        padding-left: 40px;
    }
    
    .banner-img-wrap-sm{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    }
    
    .wrapper {
        text-align: center;
    }
    
    .button {
        position: absolute;
        top: 50%;
        
    }
    
    
    /* additional amenities */
    .viewspace-wrap .main-inner .col-md-12 {
        padding: 0;
        position: relative;
        min-height: 1px;
        float: left;
    }
    
    
    
    
    
    
    /* .viewspace-wrap .main-inner .listing-detail-section {
        margin: 0 0 20px;
    } */
    /* 
    .book btn{
        padding-left: 100px;
    } */
    
    .btn{
        background-color: #17a2b8;
    }
    
    
    
    
    
    
    div.image-wrap{
        margin: 0px 55px;
    }
    
    
    
    
    
    /* .row{
    margin-left: -15px;
    margin-right: -15px;
    } */
    
    
    
    
    #amenities .amenities-wrap {
       
        color: #333;
        border-radius: 0px;
        padding: 30px 30px 20px;
        background: #fff;
    }
    .col-xs-4.col-sm-2{
        
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    
      #amenities .amenities-wrap .amenity-item {
        margin: 0 0 10px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
       
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }  
    
    
    
    /* #amenities .amenities-wrap .amenity-item.col-sm-2.col-xs-4{
        margin: 0px 0px 10px;
        padding: 0px 15px;
    } */
    
    
    .background-black-light
    {
        background-color:rgba(239, 239, 239, 0.466)
    
    }
    
    
     
    /* @media (max-width:767px){#amenities .amenities-wrap .amenity-item .amenity-name
        {max-width:65px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}}
    @media (max-width:1199px){
    #amenities .amenities-wrap .amenity-item .amenity-name{max-width:110px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}}
    #amenities .amenities-wrap .amenity-item .image-wrap{width:45px;height:45px;margin:0 auto;border-radius:50%;background:rgba(10,171,154,.7);border:2px solid #333}
    #amenities .amenities-wrap .amenity-item .image-wrap.disabled{background:#ccc}
    
    #amenities .amenities-wrap .amenity-item .image-wrap img{height:25px;width:auto;margin-top:9px}
    #amenities .amenities-wrap i{width:18px;height:18px;display:inline-block;border-radius:50%;margin-right:10px;margin-bottom:-5px;border:2px solid #333}
    #amenities .amenities-wrap i.unavailable{background:#ccc}
    #amenities .amenities-wrap i.paid{background:#ef6262}
    #amenities .amenities-wrap i.free{background:rgba(10,171,154,.7)}  */
    
    
    
    /* <!--Table--> */
    
    
          .row, .tab-content ul, .video-cover-filter form, .widget_faq .faq {
            margin-left: -15px;
            margin-right: -15px;
        }
    
    
          .viewspace-wrap .main-inner .col-md-12 {
            padding: 0px;
        } 
         #rates .working-hours {
            border-radius: 2px;
        }
    
    
        #rates .working-hours .row:not(.first) {
            border-top: 2px solid #ededed;
           border-spacing: 100px;
        }
    
    
        #rates .working-hours .rate-header {
            background-color: #0aab9a;
            color: #fff;
        }
    
    
        .block{
            width: 100px;
            float: right;
          
        }
    
    
        .col-xs-2 .first {
            padding-left: 20px;
        }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* 
       
        #rates .working-hours .row {
            margin: 0;
            text-align: center;
            padding-left: 5px;
        } */
    
    
    
    
     
    
        
    /* 
        #rates .working-hours .rate-header div p {
            word-wrap: break-word;
    
        
        } */
    
    
    
    
        /* #rates .working-hours .row p {
    
            margin: 0;
            
        } */
    
        #rates .working-hours .rate-header div {
            padding: 15px 50px;
        }
    
    
    /* 
        /* #rates .working-hours .row:not(.first) {
            border-top: 1px solid #ededed;
        } */ 
    
    /* 
    
     
         #rates .working-hours .rate-inner {
            background-color: #fff;
            color: #727272;
            padding-left: 50px;
        }
      */
    
    /* 
         #rates .working-hours .row {
            margin-left: 30px;
            text-align: center;
        }  */
    
        /* #rates .working-hours .rate-inner .main-grid {
            padding-left: 25px;
           
        } */
        /* #rates .working-hours .rate-inner .main-grid p.room {
            padding: 8px;
        }
        p {
            line-height: 24px;
        } */
    
        /* #rates .working-hours .row:not(.first) {
            border-top: 1px solid #ededed;
        } */
        
        /* #rates .working-hours .rate-inner .main-grid .rate-row div p {
            /* display: inline; */
    
             /* padding-left: 20px;
        }   */ */
    
    
         #rates .working-hours .rate-inner .main-grid .rate-row div {
            padding: 20px;
            width: 25%;
        } 
    
    
        #rates .working-hours .rate-inner .main-grid .rate-row div a {
            
            background: #ef6262;
            color: #fff;
            padding: 7px;
            border-radius: 3px;
            cursor: pointer;
        
        }
        
        /* .btn {
            background-color: #ef6262;
            padding-top: 7px;
            border-radius: 3px;
        } */
    
    
    
        #rates .working-hours .row {
            margin: 0;
            text-align: center;
           
        }
    
    
         .col-xs-2{
            /* position: relative; */
        
        padding: 40px;
        
    } 
    
    
        /* .row:before {
            content: " ";
            display: table;
           
            
        }
      */
    
    
    
    .gallery-description-card {
        margin: 15px 0;
        /* padding: 50px; */
        background: #fff;
    } 
    
    .shadow-card {
        border-radius: 2px;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
    }
    
    /* input[type=checkbox] {
        transform: scale(2);
        -ms-transform: scale(2);
        -webkit-transform: scale(2);
        padding: 10px;
    } */
    
    
    
    .container p{
        text-align: center;
    }
    
    
    .Basic-Amenities p{
       text-align: left;
       padding-left: 50px;
     
      
    }
    
    .Basic-Amenities img{
     padding-left: 25px;
    }
    
    /* .Basic-Amenities{
    background-color: #0aab9a;
    
    } */
    
    /* .amenities{
        background-color: #17a2b8;
    } */
    
    
    .amenities p{
        padding-right: 72px;
    } 
    
    
    .amenities img{
        padding-left: 45px;
    }
    
    
    