
<!DOCTYPE html>
<html>

<head>
  <title>View page</title>
</head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<!--wrapper of space name and location-->
<app-navbar> </app-navbar>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <div class="names">
        <div class="container">
      <h2> Space Name:</h2><br><br>
      <h3> Location:</h3>
    </div>
  </div>
<br><br><br><br>


<div class="container">


<div class="row">

  


<!-- Grid row -->

<!-- Grid row -->
<div class="gallery" id="gallery">

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="assets/images/cc.jpeg" alt="Card image cap" width=500px>
  </div>
<br>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="assets/images/12.jpeg" alt="Card image cap" width=500px>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="assets/images/9.jpeg" alt="Card image cap">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="assets/images/5.jpeg" alt="Card image cap" width=500px>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="assets/images/7.jpeg" alt="Card image cap" width=500px>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="assets/images/8.jpeg" alt="Card image cap" width=500px>
  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->
</div>
</div>


<!--wrapper of space name and location ends here-->

<!-- image -->
  <!-- <section>
    <div class="banner-img-clg">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 ">
            <div class="banner-img-wrap">
              <img src="assets/images/cc.jpeg" width= 500px; height= 246px; alt="banner-img">
            </div>
          </div>
          

          <div class="col-sm-3 yeah">
            <div class="banner-img-wrap-sm">
              <img src="assets/images/cc.jpeg" alt="test-slug">
            </div>
          </div>
                  
       
          <div class="col-sm-3 yeah">
           <div class="banner-img-wrap-sm">
              <img src="assets/images/4.jpg" alt="test-slug">
            </div>
          </div>

          <br>
          <br>
                
            <div class="col-sm-6">
             
                </div>

          <div class="col-sm-3 yeah">
           <div class="banner-img-wrap-sm">
            <img src="assets/images/cowork2.jpeg" alt="test-slug">
            </div>
          </div>
         

          <div class="col-sm-3 yeah">
            <div class="banner-img-wrap-sm">
              <img src="assets/images/cowork1.jpeg" alt="test-slug">
            </div>
          </div> 

        </div>
      </div>
    </div>
             
  </section> -->

<!-- end of image -->







<!--table starts here-->

<div class="container">

  <div class="row">
    
    <div class="col-md-16">
      <div class="listing-detail-section shadow-card" id="rates">
        <div class="working-hours">
          <div class="row rate-header">
            <div class="col-xs-3">
              
              <p>Space Type</p>
            </div>
          <div class="col-xs-2">
          <p>Capacity</p>
        </div>

          <div class="col-xs-2">
            <p>Hourly Rate</p>
          </div>
          <div class="col-xs-2">
            <p>Daily Rate</p>
          </div>
          <div class="col-xs-2">
            <p>Monthly Rate</p>
          </div>
          <div class="col-xs-2 center">
            <p>Book</p>
          </div>
        </div>



            <div class="row rate-inner">
              <div class="col-xs-2 main-grid">
                <p class="first room">Open Desk</p>
               
              </div> 
      
               
              <div class="col-xs-10 main-grid"> 
      
                
                <div class="row rate-row even">
                  <div class="col-xs-2 ">
                      <div class="block">
                    <p>12seater
                    </p>
                  </div>
                </div>
      
                         
                  <div class="col-xs-2"><!-- react-text: 275 --><!-- /react-text -->
                    <div class="block"> 
                    <p>₹ 100 /hour</p>
                  </div>
                </div>
      
                  <div class="col-xs-2"><!-- react-text: 278 --><!-- /react-text -->
                    <div class="block"> 
                    <p>₹ 1500 /day</p>
                  </div>
                  </div>
      
                  <div class="col-xs-2"><!-- react-text: 281 --><!-- /react-text -->
                    <div class="block"> 
                    <p>₹ 5000 /month</p>
      </div>
                  </div>
      
      
                  <div class="col-xs-2">
                      <div class="block"> 
                    <a>Select</a>
                  </div>
                </div>
              </div>
           
      
                <div class="row rate-row odd">
                  <div class="col-xs-2 ">
                      <div class="block"> 
                    <p><!-- react-text: 288 -->12<!-- /react-text --><!-- react-text: 289 --> 
                      seater<!-- /react-text -->
                    </p>
                  </div>
                </div>
      
      
                  <div class="col-xs-2"><!-- react-text: 291 --><!-- /react-text -->
                    <div class="block"> 
                    <p>₹ 300 /hour</p>
                  </div>
                  </div>
      
      
                  <div class="col-xs-2"><!-- react-text: 294 --><!-- /react-text -->
                    <div class="block"> 
                    <p>₹ 1700 /day</p>
                  </div>
                  </div>
      
                  <div class="col-xs-2"><!-- react-text: 297 --><!-- /react-text -->
                    <div class="block"> 
                    <p>₹ 7000 /month</p>
                  </div>
                  </div>
      
                  <div class="col-xs-2">
                      <div class="block"> 
                      <a>Select</a>
                    </div>
                  </div>
        </div>
          </div>
         </div> 


























         <div class="row rate-inner">
          <div class="col-xs-2 main-grid">
            <p class="first room">Private Room</p>
           
          </div> 
  
           
          <div class="col-xs-10 main-grid"> 
  
            
            <div class="row rate-row even">
              <div class="col-xs-2 ">
                  <div class="block">
                <p><!-- react-text: 272 -->1<!-- /react-text --><!-- react-text: 273 --> 
                  seater<!-- /react-text -->
                </p>
              </div>
            </div>
  
                     
              <div class="col-xs-2"><!-- react-text: 275 --><!-- /react-text -->
                <div class="block"> 
                <p>₹ 150 /hour</p>
              </div>
            </div>
  
              <div class="col-xs-2"><!-- react-text: 278 --><!-- /react-text -->
                <div class="block"> 
                <p>₹ 650 /day</p>
              </div>
              </div>
  
              <div class="col-xs-2"><!-- react-text: 281 --><!-- /react-text -->
                <div class="block"> 
                <p>₹ 8000 /month</p>
  </div>
              </div>
  
  
              <div class="col-xs-2">
                  <div class="block"> 
                <a>Select</a>
              </div>
            </div>
          </div>
       
  
            <div class="row rate-row odd">
              <div class="col-xs-2 ">
                  <div class="block"> 
                <p><!-- react-text: 288 -->2<!-- /react-text --><!-- react-text: 289 --> 
                  seater<!-- /react-text -->
                </p>
              </div>
            </div>
  
  
              <div class="col-xs-2"><!-- react-text: 291 --><!-- /react-text -->
                <div class="block"> 
                <p>₹ 300 /hour</p>
              </div>
              </div>
  
  
              <div class="col-xs-2"><!-- react-text: 294 --><!-- /react-text -->
                <div class="block"> 
                <p>₹ 1300 /day</p>
              </div>
              </div>
  
              <div class="col-xs-2"><!-- react-text: 297 --><!-- /react-text -->
                <div class="block"> 
                <p>₹ 16000 /month</p>
              </div>
              </div>
  
              <div class="col-xs-2">
                  <div class="block"> 
                  <a>Select</a>
                </div>
              </div>
            </div>



            <div class="row rate-row odd">
              <div class="col-xs-2 ">
                  <div class="block"> 
                <p><!-- react-text: 288 -->3
                  seater<!-- /react-text -->
                </p>
              </div>
            </div>
  
  
              <div class="col-xs-2"><!-- react-text: 291 --><!-- /react-text -->
                <div class="block"> 
                <p>₹ 450 /hour</p>
              </div>
              </div>
  
  
              <div class="col-xs-2"><!-- react-text: 294 --><!-- /react-text -->
                <div class="block"> 
                <p>₹ 1950 /day</p>
              </div>
              </div>
  
              <div class="col-xs-2"><!-- react-text: 297 --><!-- /react-text -->
                <div class="block"> 
                <p>₹ 24000 /month</p>
              </div>
              </div>
  
              <div class="col-xs-2">
                  <div class="block"> 
                  <a>Select</a>
                </div>
              </div>
            </div>





            <div class="row rate-row odd">
              <div class="col-xs-2 ">
                  <div class="block"> 
                <p><!-- react-text: 288 -->4<!-- /react-text --><!-- react-text: 289 --> 
                  seater<!-- /react-text -->
                </p>
              </div>
            </div>
  
  
              <div class="col-xs-2"><!-- react-text: 291 --><!-- /react-text -->
                <div class="block"> 
                <p>₹ 600 /hour</p>
              </div>
              </div>
  
  
              <div class="col-xs-2"><!-- react-text: 294 --><!-- /react-text -->
                <div class="block"> 
                <p>₹ 2600 /day</p>
              </div>
              </div>
  
              <div class="col-xs-2"><!-- react-text: 297 --><!-- /react-text -->
                <div class="block"> 
                <p>₹ 32000 /month</p>
              </div>
              </div>
  
              <div class="col-xs-2">
                  <div class="block"> 
                  <a>Select</a>
                </div>
              </div>
            </div>






            <div class="row rate-row odd">
              <div class="col-xs-2 ">
                  <div class="block"> 
                <p><!-- react-text: 288 -->5<!-- /react-text --><!-- react-text: 289 --> 
                  seater<!-- /react-text -->
                </p>
              </div>
            </div>
  
  
              <div class="col-xs-2"><!-- react-text: 291 --><!-- /react-text -->
                <div class="block"> 
                <p>₹ 750 /hour</p>
              </div>
              </div>
  
  
              <div class="col-xs-2"><!-- react-text: 294 --><!-- /react-text -->
                <div class="block"> 
                <p>₹ 3250 /day</p>
              </div>
              </div>
  
              <div class="col-xs-2"><!-- react-text: 297 --><!-- /react-text -->
                <div class="block"> 
                <p>₹ 40000 /month</p>
              </div>
              </div>
  
              <div class="col-xs-2">
                  <div class="block"> 
                  <a>Select</a>
                </div>
              </div>
            </div>
            </div>
           </div> 


















           <div class="row rate-inner">
            <div class="col-xs-2 main-grid">
              <p class="first room">Meeting Room</p>
             
            </div> 
    
             
            <div class="col-xs-10 main-grid"> 
    
              
              <div class="row rate-row even">
                <div class="col-xs-2 ">
                    <div class="block">
                  <p><!-- react-text: 272 -->5<!-- /react-text --><!-- react-text: 273 --> 
                    seater<!-- /react-text -->
                  </p>
                </div>
              </div>
    
                       
                <div class="col-xs-2"><!-- react-text: 275 --><!-- /react-text -->
                  <div class="block"> 
                  <p>₹ 650 /hour</p>
                </div>
              </div>
    
                <div class="col-xs-2"><!-- react-text: 278 --><!-- /react-text -->
                  <div class="block"> 
                  <p>₹ 4000 /day</p>
                </div>
                </div>
    
                <div class="col-xs-2"><!-- react-text: 281 --><!-- /react-text -->
                  <div class="block"> 
                  <p>--</p>
    </div>
                </div>
    
    
                <div class="col-xs-2">
                    <div class="block"> 
                  <a>Select</a>
                </div>
              </div>
            </div>
         
    
              <div class="row rate-row odd">
                <div class="col-xs-2 ">
                    <div class="block"> 
                  <p><!-- react-text: 288 -->10<!-- /react-text --><!-- react-text: 289 --> 
                    seater<!-- /react-text -->
                  </p>
                </div>
              </div>
    
    
                <div class="col-xs-2"><!-- react-text: 291 --><!-- /react-text -->
                  <div class="block"> 
                  <p>₹ 1000 /hour</p>
                </div>
                </div>
    
    
                <div class="col-xs-2"><!-- react-text: 294 --><!-- /react-text -->
                  <div class="block"> 
                  <p>₹ 5000 /day</p>
                </div>
                </div>
    
                <div class="col-xs-2"><!-- react-text: 297 --><!-- /react-text -->
                  <div class="block"> 
                  <p>--</p>
                </div>
                </div>
    
                <div class="col-xs-2">
                    <div class="block"> 
                    <a>Select</a>
                  </div>
                </div>
              </div>
  
  
  
              <div class="row rate-row odd">
                <div class="col-xs-2 ">
                    <div class="block"> 
                  <p><!-- react-text: 288 -->25
                    seater<!-- /react-text -->
                  </p>
                </div>
              </div>
    
    
                <div class="col-xs-2"><!-- react-text: 291 --><!-- /react-text -->
                  <div class="block"> 
                  <p>₹ 3000 /hour</p>
                </div>
                </div>
    
    
                <div class="col-xs-2"><!-- react-text: 294 --><!-- /react-text -->
                  <div class="block"> 
                  <p>₹ 10000 /day</p>
                </div>
                </div>
    
                <div class="col-xs-2"><!-- react-text: 297 --><!-- /react-text -->
                  <div class="block"> 
                  <p>--</p>
                </div>
                </div>
    
                <div class="col-xs-2">
                    <div class="block"> 
                    <a>Select</a>
                  </div>
                </div>
              </div>
  </div>
  </div>
  
  
  
















<!-- 
        
        <div class="row rate-inner">
          <div class="col-xs-3 main-grid">
            <p class="room">Private Room</p>
          </div>
          <div class="col-xs-10 main-grid">
            <div class="row rate-row even">
              <div class="col-xs-2">
                  <div class="block"> 
                <p>1 seater
        </p>
              </div>
              </div> -->
<!-- 
              <div class="col-xs-2">
                <div class="block"> 
                <p>₹ 150 /hour</p>
              </div>
              </div> -->
<!-- 
              <div class="col-xs-2">
                <div class="block"> 
                <p>₹ 650 /day</p>
                </div>
              </div> -->

<!-- 

              <div class="col-xs-2">
                <div class="block"> 
                <p>₹ 8000 /month</p>
              </div>
              </div>

              <div class="col-xs-2">
                  <div class="block"> 
                <a>Select</a>
                  </div>
              </div>
            </div>
            <div class="row rate-row odd">
              <div class="col-xs-2 ">
                <p> -->
                  <!-- <1
                  seater
                </p>
              </div>
              <div class="col-xs-2"> -->
                <!-- react-text: 327 --><!-- /react-text -->
                <!-- <p>₹ 150 /hour</p>
              <!-- </div> 
              <div class="col-xs-2"> 
                <!-- react-text: 330 --><!-- /react-text -->
                <!-- <p>₹ 650 /day</p></div><div class="col-xs-2"> -->
                  <!-- react-text: 333 --><!-- /react-text -->
                  <!-- <p>₹ 8000 /month</p>
                </div>
                <div class="col-xs-2">
                  <a>Select</a>
                </div>
              </div>
              <div class="row rate-row even">
                <div class="col-xs-2 ">
                  <p> 2<!-- /react-text --><!-- react-text: 341 --> 
                    <!-- seater<!-- /react-text 
                  </p>
                </div>
                <div class="col-xs-2"> -->
                  <!-- react-text: 343 --><!-- /react-text -->
                  <!-- <p>₹ 300 /hour</p>
                </div>
                <div class="col-xs-2"> -->
                  <!-- react-text: 346 --><!-- /react-text -->
                  <!-- <p>₹ 1300 /day</p>
                </div><div class="col-xs-2"> -->
                    <!-- react-text: 349 --><!-- /react-text -->
                    <!-- <p>₹ 16000 /month</p>
                  </div>
                  <div class="col-xs-2">
                    <a>Select</a>
                  </div>
                </div>
                <div class="row rate-row odd">
                  <div class="col-xs-2 ">
                    <p> 
                      3seater<!-- /react-text -->
                    <!-- </p>
                  </div>
                  <div class="col-xs-2"> -->
                    <!-- react-text: 359 --><!-- /react-text -->
                    <!-- <p>₹ 450 /hour</p>
                  </div>
                  <div class="col-xs-2"> -->
                    <!-- react-text: 362 --><!-- /react-text -->
                    <!-- <p>₹ 1950 /day</p>
                  </div>
                  <div class="col-xs-2"> -->
                    <!-- react-text: 365 --><!-- /react-text -->
                    <!-- <p>₹ 24000 /month</p>
                  </div>
                  <div class="col-xs-2">
                    <a>Select</a>
                  </div>
                </div>
                <div class="row rate-row even">
                  <div class="col-xs-2 ">
                    <p> -->
                      <!-- 4
                      seater
                    
                    </p>
                  </div>
                  <div class="col-xs-2"> -->
<!--                     
                    <p>₹ 600 /hour</p>
                  </div>
                  <div class="col-xs-2"> -->
                    <!-- react-text: 378 --><!-- /react-text -->
                    <!-- <p>₹ 2600 /day</p>
                  </div>
                  <div class="col-xs-2"> -->
                   
<!--                     
                    <p>₹ 32000 /month</p>
                  </div>
                  <div class="col-xs-2">
                    <a>Select</a>
                  </div>
                </div>
                <div class="row rate-row odd">
                  <div class="col-xs-2 "> -->
                    <!-- <p>5
                      seater<!-- /react-text 
                    </p>
                  </div>
                  <div class="col-xs-2"> -->
                    <!-- react-text: 391 --><!-- /react-text -->
                    <!-- <p>₹ 750 /hour</p>
                  </div>
                  <div class="col-xs-2">
                    <p>₹ 3250 /day</p>
                  </div>
                  <div class="col-xs-2">
                    <p>₹ 40000 /month</p>
                  </div>
                  <div class="col-xs-2">
                    <a>Select</a>
                  </div>
                </div>
              </div>
            </div>  -->










            <div class="row rate-inner">
              <div class="col-xs-2 main-grid">
                <p class="first room">Training Room</p>
               
              </div> 
      
               
              <div class="col-xs-10 main-grid"> 
      
                
                <div class="row rate-row even">
                  <div class="col-xs-2 ">
                      <div class="block">
                    <p><!-- react-text: 272 -->30<!-- /react-text --><!-- react-text: 273 --> 
                      seater<!-- /react-text -->
                    </p>
                  </div>
                </div>
      
                         
                  <div class="col-xs-2"><!-- react-text: 275 --><!-- /react-text -->
                    <div class="block"> 
                    <p>₹ 1000 /hour</p>
                  </div>
                </div>
      
                  <div class="col-xs-2"><!-- react-text: 278 --><!-- /react-text -->
                    <div class="block"> 
                    <p>₹ 30000 /day</p>
                  </div>
                  </div>
      
                  <div class="col-xs-2"><!-- react-text: 281 --><!-- /react-text -->
                    <div class="block"> 
                    <p>--</p>
      </div>
                  </div>
      
      
                  <div class="col-xs-2">
                      <div class="block"> 
                    <a>Select</a>
                  </div>
                </div>
              </div>
           

</div>
            </div>
            





                </div>
              </div>
            </div>
          </div>
        </div>

<!--table ends here-->

<br>


<!-- Additional-Amenities -->





<br><br>




<div class="container">
    <h2><b>Additional Amenities</b></h2>
    <br>
    <br>
    <div class="row">
      <!-- <div class="col-md-12 col-sm-2"> -->
        <!-- <div class="listing-detail-section" id="amenities"> -->
          <!-- <div style="text-align: center;"> -->
           <!-- <div class="amenities-wrap shadow-card background-black-light">  -->
               <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4">    -->
                     
                     
                  
                <div class="col-sm-2">
                  <!-- <div class="amenity-item col-6 col-md-4 col-sm-12">  -->
                    <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                    <img src="assets/images/amenity-wifi.svg" style="height: 25px">
                  <!-- </div> -->
                  <p class="amenity-name">Wi Fi</p>
                <!-- </div> -->
              </div>
  
          
               <div class="col-sm-2"> 
              <!-- <div class="amenity-item col-sm-2 col-xs-4"> -->
              <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4"> 
              <div class="col-6 col-md-4 col-sm-12"> -->
                <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                  <img src="assets/images/amenity-coffee.svg" style="height: 25px">
                <!-- </div> -->
                <p class="amenity-name">Tea/Coffee</p>
              </div>
             




               <div class="col-sm-2"> 
                  <!-- <div class="amenity-item col-sm-2 col-xs-4"> -->
                  <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4"> 
                  <div class="col-6 col-md-4 col-sm-12"> -->
                    <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                      <img src="assets/images/amenity-pantry.svg" style="height: 25px">
                    <!-- </div> -->
                    <p class="amenity-name">Pantry</p>
                  </div>
              





                   <div class="col-sm-2"> 
                      <!-- <div class="amenity-item col-sm-2 col-xs-4"> -->
                      <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4"> 
                      <div class="col-6 col-md-4 col-sm-12"> -->
                        <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                          <img src="assets/images/amenity-projector.svg" style="height: 25px">
                        <!-- </div> -->
                        <p class="amenity-name">Projector</p>
                      </div>


                      <div class="col-sm-2"> 
                          <!-- <div class="amenity-item col-sm-2 col-xs-4"> -->
                          <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4"> 
                          <div class="col-6 col-md-4 col-sm-12"> -->
                            <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                              <img src="assets/images/amenity-ac.svg" style="height: 25px">
                            <!-- </div> -->
                            <p class="amenity-name">AC</p>
                          </div>








                      <div class="col-sm-2"> 
                          <!-- <div class="amenity-item col-sm-2 col-xs-4"> -->
                          <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4"> 
                          <div class="col-6 col-md-4 col-sm-12"> -->
                            <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                              <img src="assets/images/amenity-white-board.svg" style="height: 25px">
                            <!-- </div> -->
                            <p class="amenity-name">White Board</p>
                          </div>




                          <div class="col-sm-2"> 
                              <!-- <div class="amenity-item col-sm-2 col-xs-4"> -->
                              <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4"> 
                              <div class="col-6 col-md-4 col-sm-12"> -->
                                <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                                  <img src="assets/images/amenity-power-backup.svg" style="height: 25px">
                                <!-- </div> -->
                                <p class="amenity-name">Power Backup</p>
                              </div>
    
    




                              <div class="col-sm-2"> 
                                  <!-- <div class="amenity-item col-sm-2 col-xs-4"> -->
                                  <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4"> 
                                  <div class="col-6 col-md-4 col-sm-12"> -->
                                    <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                                      <img src="assets/images/amenity-2w-parking.svg" style="height: 25px">
                                    <!-- </div> -->
                                    <p class="amenity-name">Wheeler Parking</p>
                                  </div>
        





                              <div class="col-sm-2"> 
                                  <!-- <div class="amenity-item col-sm-2 col-xs-4"> -->
                                  <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4"> 
                                  <div class="col-6 col-md-4 col-sm-12"> -->
                                    <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                                      <img src="assets/images/amenity-security.svg" style="height: 25px">
                                    <!-- </div> -->
                                    <p class="amenity-name">Security</p>
                                  </div>
        




                              <div class="col-sm-2"> 
                                  <!-- <div class="amenity-item col-sm-2 col-xs-4"> -->
                                  <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4"> 
                                  <div class="col-6 col-md-4 col-sm-12"> -->
                                    <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                                      <img src="assets/images/amenity-reception.svg" style="height: 25px">
                                    <!-- </div> -->
                                    <p class="amenity-name">Reception</p>
                                  </div>
        






                              <div class="col-sm-2"> 
                                  <!-- <div class="amenity-item col-sm-2 col-xs-4"> -->
                                  <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4"> 
                                  <div class="col-6 col-md-4 col-sm-12"> -->
                                    <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                                      <img src="assets/images/amenity-lift.svg" style="height: 25px">
                                    <!-- </div> -->
                                    <p class="amenity-name">Lift</p>
                                  </div>
        




                              <div class="col-sm-2"> 
                                  <!-- <div class="amenity-item col-sm-2 col-xs-4"> -->
                                  <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4"> 
                                  <div class="col-6 col-md-4 col-sm-12"> -->
                                    <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                                      <img src="assets/images/amenity-psc.svg" style="height: 25px">
                                    <!-- </div> -->
                                    <p class="amenity-name">Print/Scan/Copy</p>
                                  </div>






                                  <div class="col-sm-2"> 
                                      <!-- <div class="amenity-item col-sm-2 col-xs-4"> -->
                                      <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4"> 
                                      <div class="col-6 col-md-4 col-sm-12"> -->
                                        <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                                          <img src="assets/images/amenity-deposit.svg" style="height: 25px">
                                        <!-- </div> -->
                                        <p class="amenity-name">Deposit</p>
                                      </div>





                                      <div class="col-sm-2"> 
                                          <!-- <div class="amenity-item col-sm-2 col-xs-4"> -->
                                          <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4"> 
                                          <div class="col-6 col-md-4 col-sm-12"> -->
                                            <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                                              <img src="assets/images/amenity-virtual-office.svg" style="height: 25px">
                                            <!-- </div> -->
                                            <p class="amenity-name">Virtual Office</p>
                                          </div>


                                          <div class="col-sm-2"> 
                                              <!-- <div class="amenity-item col-sm-2 col-xs-4"> -->
                                              <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4"> 
                                              <div class="col-6 col-md-4 col-sm-12"> -->
                                                <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                                                  <img src="assets/images/amenity-4w-parking.svg" style="height: 25px">
                                                <!-- </div> -->
                                                <p class="amenity-name">4 Wheeler Parking</p>
                                              </div>



                                              <div class="col-sm-2"> 
                                                  <!-- <div class="amenity-item col-sm-2 col-xs-4"> -->
                                                  <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4"> 
                                                  <div class="col-6 col-md-4 col-sm-12"> -->
                                                    <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                                                      <img src="assets/images/amenity-computer.svg" style="height: 25px">
                                                    <!-- </div> -->
                                                    <p class="amenity-name">Computer</p>
                                                  </div>
        



                                                  <div class="col-sm-2"> 
                                                      <!-- <div class="amenity-item col-sm-2 col-xs-4"> -->
                                                      <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4"> 
                                                      <div class="col-6 col-md-4 col-sm-12"> -->
                                                        <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                                                          <img src="assets/images/amenity-locker.svg" style="height: 25px">
                                                        <!-- </div> -->
                                                        <p class="amenity-name">Locker</p>
                                                      </div>
            
    



                                                      <div class="col-sm-2"> 
                                                          <!-- <div class="amenity-item col-sm-2 col-xs-4"> -->
                                                          <!-- <div class="amenity-item col-6 col-md-4 col-sm-12 col-xs-4"> 
                                                          <div class="col-6 col-md-4 col-sm-12"> -->
                                                            <!-- <div class="image-wrap " aria-describedby="tooltip"> -->
                                                              <img src="assets/images/amenity-leased-line.svg" style="height: 25px">
                                                            <!-- </div> -->
                                                            <p class="amenity-name">Leased Line</p>
                                                          </div>
                       </div> 









    


  

          
     



            
          
  <br>
  <!-- Additional-Amenities ends here -->

<br><br><br>

  <!--   Basic-Amenities -->
  <div class="Basic-Amenities">
    
    <h3><b>Basic-Amenities</b></h3>
    <br>
    <div class="row">
      <div class="col-6 col-md-4 col-sm-12">
        <img src="assets/icons/wi-fi.png" alt="Wi-fi logo" width="90px" height="100px">
        <p>Wi-Fi</p>
      </div>

      <div class="col-6 col-md-4 col-sm-12">
        <img src="assets/icons/housekeeping.png" alt="House-keeping logo" width="90px" height="100px">
        <p>House-Keeping</p>
      </div>

      <div class="col-6 col-md-4 col-sm-12">
        <img src="assets/icons/access.png" alt="24*7 access" width="90px" height="100px">
        <p>24*7 Access</p>
      </div>

      <div class="col-6 col-md-4 col-sm-12">
        <img src="assets/icons/washroom.png" alt="rest-room logo" width="90px" height="100px">
        <p>Rest Rooms</p>
      </div>

      <div class="col-6 col-md-4 col-sm-12">
        <img src="assets/icons/filter.png" alt="drinking water logo" width="90px" height="100px">
        <p>Drinking Water</p>
      </div>

      <div class="col-6 col-md-4 col-sm-12">
        <img src="assets/icons/backup.png" alt="power backup logo" width="90px" height="100px">
        <p>Power-Backup</p>
      </div>
    </div>
  </div>
</div>
<br><br><br>

<div class="wrapper">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg"  routerLink ='/book' routerLinkActive="active"> Book</button>
 </div>

</html>
<app-footer></app-footer>