<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!-- image -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">


        <div class="text">
          <!-- <div class="text" *ngFor="let data of userDetail"> -->
            <h1><b>Hi {{userName}}</b></h1><br />
            <h1><b>Welcome To Coworking</b></h1><br />
          </div>

          <button type="button" class="btn btn-sm btn-info" routerLink='/client-dashboard'
            routerLinkActive="active">View profile</button>
          </div>

        <!-- </div> -->
      </div>
    </div>
</header>
<!-- end of image -->
<!-- class="wdn-stretch rounded-corners" -->