.card {
    box-shadow: 0 4px 11px 8px rgb(69, 69, 94);
    margin: auto;
    text-align: left;
    widows: 620px;
    height: 862px;
    max-width: 1000px;
    color: rgb(17, 17, 17);
    background-color: #fff;
    float: none;
    margin-top: 65px;
    font-size: 16px;
    font-family: sans-serif;
}

.image-container {
    margin-top: 0cm;
    size: 10px;
    height: 5px;
    padding-left: 20px;
}

.image-container h1 {
    padding-left: 1px;
    font-size: 30px;
}

.section {
    position: absolute;
    margin-left: 60px;
}

.iconphone,
.iconmail {
    margin-top: 20px;
}

.image-container a {
    padding-left: 18px;
    text-align: center;
}

.button4 {
    border-radius: 12px;
    position: absolute;
    left: 99%;
    top: 15px;
}

.button5 {
    border-radius: 50%;
    background-color: #9a1123;
    position: absolute;
    left: 79%;
    bottom: 873px;
    color: #000;
    width: 7%;
    font-size: 10px;
    border-radius: 50%;
}

.button5 span {
    content: "\002B";
    color: #fff;
    font-size: 40px;
}

.property {
    text-shadow: 1px 1px 2px blue;
    padding-bottom: 40px;
}

.image-container p {
    padding-left: 150px;
    padding-top: 1px;
}

@media only screen and (max-width: 600px) {
    .button5 {
        max-width: 100%;
        width: 11%;
    }
    .button5 span {
        font: 15px;
    }
}

.col-sm-6 {
    padding-right: 26px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: -63px;
}

.card {
    box-shadow: 0 4px 11px 8px rgb(69, 69, 94);
    margin: auto;
    text-align: left;
    widows: 620px;
    height: 720px;
    max-width: 1000px;
    color: rgb(17, 17, 17);
    background-color: #fff;
    float: none;
    margin-top: 65px;
    /* margin-bottom: 65px; */
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 65px;
}

.image-container {
    margin-top: 0cm;
    size: 10px;
    height: 5px;
    padding-left: 20px;
}

.image-container h1 {
    padding-left: 1px;
    font-size: 30px;
}

.section {
    position: absolute;
    margin-left: 60px;
}

.iconphone,
.iconmail {
    margin-top: 20px;
}

.image-container a {
    padding-left: 18px;
    text-align: center;
}

.button4 {
    border-radius: 12px;
    position: absolute;
    left: 85%;
    top: 15px;
}

.button5 {
    border-radius: 50%;
    background-color: #9a1123;
    position: absolute;
    left: 79%;
    bottom: 873px;
    color: #000;
    width: 7%;
    font-size: 10px;
    border-radius: 50%;
}

.button5 span {
    content: "\002B";
    color: #fff;
    font-size: 40px;
}

.property {
    text-shadow: 1px 1px 2px blue;
    padding-bottom: 40px;
}

.image-container p {
    padding-left: 150px;
    padding-top: 1px;
}

@media only screen and (max-width: 600px) {
    .button5 {
        max-width: 100%;
        width: 11%;
    }
    .button5 span {
        font: 15px;
    }
}

.col-sm-6 {
    padding-right: 26px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: -63px;
}

.card-body {
   
    padding-left: 20px;
}

body {
    background-image: url("https://innov8.work/static/index-new/images/banner_new.jpg");
    background-size: 3000px 1500px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

h4{
    font-size: 22px;
}