<app-navbar> </app-navbar>
<body>
    <div class="container">
        <div class="row">

            <div class="column">
                <div class="card" *ngFor="let data of arrayOfSpace">
                    <h4 class="card-text"> Space Id :{{arrayOfSpace[2].SpaceId}}</h4>
                    <h4 class="card-text">Space Name: {{arrayOfSpace[2].SpaceName}}</h4>
                    <h4 class="card-text">Location: {{ arrayOfSpace[2].location }}</h4>
                    <img class=" card-img-top "
                        src=" https://www.lli.sg/content/dam/lli/images/Facility%20Booking%20Images/Facilities%20Images/Training%20Room/TR1-1%20&%201-2/Training%20Room%201-1%201-2 "
                        alt=" Card image cap ">
                    <p><button routerLink ='/details' routerLinkActive="active">View</button></p>
                </div>
            </div>

            <div class="column">
                <div class="card" *ngFor="let data of arrayOfSpace">
                    <h4 class="card-text"> Space Id :{{arrayOfSpace[3].SpaceId}}</h4>
                    <h4 class="card-text">Space Name: {{arrayOfSpace[3].SpaceName}}</h4>
                    <h4 class="card-text">Location: {{ arrayOfSpace[3].location }}</h4>
                    <img class=" card-img-top "
                        src=" https://www.lli.sg/content/dam/lli/images/Facility%20Booking%20Images/Facilities%20Images/Training%20Room/TR1-1%20&%201-2/Training%20Room%201-1%201-2 "
                        alt=" Card image cap ">
                    <p><button routerLink ='/details' routerLinkActive="active">View</button></p>
                </div>
            </div>

            <div class="column">
                <div class="card" *ngFor="let data of arrayOfSpace">
                    <h4 class="card-text"> Space Id :{{arrayOfSpace[0].SpaceId}}</h4>
                    <h4 class="card-text">Space Name: {{arrayOfSpace[0].SpaceName}}</h4>
                    <h4 class="card-text">Location: {{ arrayOfSpace[0].location }}</h4>
                    <img class=" card-img-top "
                        src=" https://www.lli.sg/content/dam/lli/images/Facility%20Booking%20Images/Facilities%20Images/Training%20Room/TR1-1%20&%201-2/Training%20Room%201-1%201-2 "
                        alt=" Card image cap ">
                    <p><button  routerLink ='/details' routerLinkActive="active">View</button></p>
                </div>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>